<!DOCTYPE html>
<html lang="fr" itemscope itemtype="http://schema.org/WebPage">
  <head>
    @@include('./partials/head.tpl.html', { "meta_title": "Aude-Marie Martinet",
    "meta_desc": "Aude-Marie Martinet, psychologue hypnothérapeute, spécialiste
    en gérontologie - personnes âgées. Consultations à domicile" })
  </head>
  <body role="document">
    @@include('./components/menu.tpl.html', {"activePage":
    "honoraires-contact"})

    <section class="page-content">
      <h2>À mon cabinet</h2>

      <p>
        La consultation dure <strong>45 minutes</strong>, son tarif de
        <strong>65€</strong> (TVA non applicable article L. 223-3 du CIBS) sera à régler à chaque fin de séance, en espèces ou par chèque selon votre choix.<br />
      </p>

      <p>
        Les consultations des psychologues en libéral ne sont pas pris en charge par la sécurité sociale.
      </p>

      <p>
        Toutefois, il y a de plus en plus de mutuelles qui remboursent en partie les consultations, souvent avec un seuil fixé par votre contrat. Pour cela, vous pourrez vous renseigner auprès de votre organisme complémentaire.
      </p>
      <p>Une note d'honoraires vous sera délivrée si besoin.</p>
    </section>

    @@include('./components/footer.tpl.html')
  </body>
</html>
