<!DOCTYPE html>
<html lang="fr" itemscope itemtype="http://schema.org/WebPage">
<head>
  @@include('./partials/head.tpl.html', {
  "meta_title": "Aude-Marie Martinet",
  "meta_desc": "Aude-Marie Martinet, psychologue hypnothérapeute, spécialiste en gérontologie - personnes âgées. Consultations à domicile"
})
</head>
<body role="document">

  @@include('./components/menu.tpl.html', {"activePage": "home"})


  <section class="page-content">
    <div class="home--featured-infos">
      <img class="home--image" src="images/marie.jpg" alt="Aude-Marie Martinet">
      <div>
        <p class="home--info">
          Je suis <strong>psychologue clinicienne, psychothérapeute</strong> diplômée d'État à l'Université Lyon II.<br>
          Après l'obtention de mon titre de Psychologue, j'ai souhaité compléter ma formation par un DU d'<strong>Hypnothérapie</strong> à Dijon (encadré par A.Bioy).
        </p>
        <p class="home--info">
          J'ai choisi de m'installer en milieu rural et d'orienter ma pratique au domicile des patients, ainsi <strong>je vous propose des rencontres thérapeutiques chez vous dans le secteur de la Vallée de l'Ouche</strong> (axe A38 : Civry en Montagne – Sombernon - Sainte Marie sur Ouche - Pont de Pany - Velars sur Ouche - Dijon et son agglomération).
        </p>
        <p class="home--info">
          En parallèle, j'exerce en milieu Institutionnel dont l'EHPAD « Ma Maison » des Petites Soeurs des Pauvres à Dijon ; où je suis engagée à accompagner les personnes âgées en perte d'autonomie et dans le soutien de leurs proches, en lien avec un travail de réflexion en équipe pluridisciplinaire.
        </p>
      </div>
    </div>

    <p class="home--info">
      En 2019 j'ai pour projet d'intégrer la Maison de Santé de Sombernon afin d'élargir mon offre d'accompagnement à d'autres personnes pour qui le domicile ne peut être adapté comme lieu de travail thérapeutique.
    </p>
  </section>



  @@include('./components/footer.tpl.html')

</body>
</html>
