<footer class="footer">
  <div class="footer--wrapper">

    <div class="footer--identity">
        <div class="footer--title">
          Aude-Marie Martinet - Psychologue Vallée de l'Ouche
        </div>

        <a class="footer--info" href="tel:0625972323">
          <i class="icon-phone-outline"></i>
          06.25.97.23.23
        </a>
        <a class="footer--info" href="mailto:audemarie.martinet@gmail.com">
          <i class="icon-mail"></i>
          audemarie.martinet@gmail.com
        </a>
        <a class="footer--info" href="contact.html">
          <i class="icon-map"></i>
          Vallée de l'Ouche
        </a>
    </div>

    <div class="footer--infos">
        <div class="footer--title">
          Informations légales
        </div>

        <p class="footer--info">
          Numéro ADELI: N° 219305539
        </p>
        <p class="footer--info">
          Numéro de SIRET: 803 243 863 00028
        </p>
    </div>

  </div>
</footer>