<h2>À mon cabinet</h2>

<p>
  Je reçois à mon cabinet le
  <strong
    >mercredi en journée complète, des adolescents, adultes et séniors</strong
  >
  en consultations individuelles.
</p>

<br />

<h2>À domicile</h2>
<p>
  Cet accompagnement est réservé pour
  <strong
    >les enfants, les personnes ne pouvant se déplacer et pour qui le cadre est
    plus adapté.</strong
  >
</p>

<p>
  La rencontre avec un psychologue n'est pas toujours aisée à entreprendre et
  peu sembler particulière, voire étrange surtout dans le cas d'une consultation
  à domicile. Pourtant cette pratique tend à devenir de plus en plus répandue,
  et apparaît comme
  <strong>une réponse d'accompagnement adaptée à plusieurs besoins.</strong>
</p>
<p>
  D'un point de vue socio écononomique, il me semble que nous sommes conduits à
  devoir repenser des espaces où accueillir la souffrance. La rapidité des
  prises en charge, l’augmentation des demandes de soin, majorent les enjeux
  d'isolement social et de solitude des plus fragiles, des personnes âgées, des
  personnes à mobilité réduite n'ayant pas toujours la possibilité ou la
  capacité de se déplacer ou d'autres personnes ayant des difficultés à se
  mouvoir en cabinet ; ce qui influe inexorablement à accroître la souffrance de
  tous ceux qui ont besoin d'un temps de présence et d'accompagnement dans des
  contextes de vie difficiles.<br />
  Cette réponse de soin peut également convenir à des personnes ayant des
  contraintes professionnelles ou familiales les heurtant à des difficultés
  d'organisation.
</p>
<p>
  La pratique à domicile est avant tout une pratique de proximité, qui permet
  d'accéder à une approche clinique à l'état « brut », comme le signifie
  l'origine du mot « clinique » : au chevet du patient.<br />
  Pour certaines personnes, recevoir chez soi dans un environnement familier et
  sécurisant facilitera la rencontre avec davantage de
  <strong>quiétude</strong> et de confort.
</p>
<p>
  Ainsi pour garantir le bon déroulement des séances, il est essentiel de se
  retrouver dans des conditions propice au travail thérapeutique :
  <strong
    >un environnement calme et adéquat où vous serez seul et disposé pour ce
    temps de visite particulier qui vous sera consacré.</strong
  >
</p>
<em>
  C'est après un premier échange par email/téléphone que peut être envisagé où
  non mon intervention à votre domicile, afin de vous poser quelques questions
  et de répondre aux vôtres afin de définir si ce cadre est bien adapté à votre
  situation.
</em>

<h2>Engagements</h2>

<p>
  Sachez que pour une <strong>disponibilité totale en séance</strong>, mon
  téléphone est en mode silencieux ou éteint.<br />
  De ce fait, n'hésitez pas à me laisser un
  <strong>message vocal ou un email</strong> afin que je vous recontacte le plus
  rapidement possible. Les consultations se font uniquement sur rendez-vous.
</p>
<p>
  La première séance est dédiée au temps de la rencontre, le temps de bien faire
  connaissance, puis de définir votre demande afin de commencer le travail
  thérapeutique dans un climat de confiance.
</p>
<p>
  Le nombre et la fréquence des séances sont définis ensemble. Il est essentiel
  d'adapter cet accompagnement thérapeutique à votre rythme en respectant vos
  besoins.
</p>
<p>
  <strong
    >Il est important de considérer votre RDV comme étant un engagement de votre
    part : c'est à dire être présent à la date et à l'heure convenues.</strong
  >
  Dès lors le temps vous sera réservé où je me rendrai totalement disponible
  pour votre accompagnement thérapeutique.
</p>
<p>
  En cas d'empêchement je m'engage à vous contacter au plus vite et attendrai de
  même.
  <strong
    >Toute consultation annulée dans les moins de 48h vous sera facturée
    intégralement peu importe la raison.</strong
  ><br />
  <strong
    >Même les conditions météorologiques ne peuvent être une raison valable
    d'annulation sans frais, car dans ce cas je vous proposerai d'honorer votre
    RDV soit par téléphone soit par visio à la date / heure de votre Rdv
    initialement pris en présentiel.</strong
  >
</p>
