<div class="presentation--experience--infos">
  <p>
    Après avoir étudié durant les 4 premières années de cursus la psychologie et la psychopathologie de - l'enfant, l'adolescent et l'adulte -  j'ai choisi de me spécialiser auprès des personnes âgées.
  </p>
  <p>
    J'ai approfondi mes connaissances en réalisant un DU de Soin et d'Accompagnement de la Personne Agée Démente.<br>
    J'ai également obtenu un DU d'Hypnotherapie.
  </p>
</div>

<div class="presentation--experience--diplomes">
  <ul>
    <li>Diplôme Universitaire d'Hypnothérapie à Dijon</li>
    <li>Master 2 de Psychologie Clinique de la Santé, parcours Vieillissement à Lyon II</li>
    <li>Diplôme Universitaire de Soin et d'Accompagnement de la Personne Agée Démente</li>
    <li>Master 1 de Psychologie clinique du développement et des apprentissages</li>
    <li>Licence de Psychologie</li>
  </ul>
</div>

<div class="presentation--experience--lieux">
  Milieux Institutionnels :
  <ul>
    <li>Établissements d'Hébergement pour Personnes Agées Dépendantes</li>
    <li>Pôle d'Activité et de Soins Adaptés</li>
    <li>Accueil de Jour</li>
  </ul>
  Milieux Hospitaliers :
  <ul>
    <li>Service de médecine Gériatrique au Centre Gériatrique Champmaillot à Dijon</li>
    <li>Service de Soins de Suite et de Réadaptation au Centre Gériatrique Champmaillot à Dijon</li>
  </ul>
</div>

<div class="presentation--experience--lieux-infos">
  <p>
    En 2017 j'ai saisi une belle opportunité de formation à la zoothérapie, l'équithérapie particulièrement. J'ai réalisé un stage pratique au <a href="http://www.murmures-equimediation.com/" target="_blank">Centre d'équimédiation Murmures</a>, puis ai exercé auprès d'enfants et d'adultes atteints de Troubles Envahissant du Développement, de personnes atteintes de Retard Mental et/ou présentant des troubles psychopathologiques associés, avec le partenariat de plusieurs Institutions à Dijon (Unités à La Chartreuse, les Hopitaux de Jours, les Instituts Médicaux Educatifs et Foyers de Vie).
  </p>
  <p>
    Cette formation m'a apporté beaucoup en humilité, auprès de personnes ayant accès à d'autres modes de communication que la thérapie verbale qui est  mon outil thérapeutique traditionnel.
  </p>
</div>