<h2>Qu'est ce que l'hypnose et l'Hypnothérapie ?</h2>

<br>
<p>
  La définition de l'hypnose est à la fois simple et complexe, tout dépend de l'angle sous lequel on l'observe. C'est à la fois un « état de conscience » et un outil thérapeutique produisant cet état au profit d'un objectif fixé.
</p>
<p>
  <strong>L'état hypnotique est un état naturel</strong> que nous vivons tous quotidiennement sans même le savoir lorsque nous sommes plongés entre un « ici et ailleurs ». Comme par exemple, lorsque nous lisons un livre et que tout en suivant le récit nous pensons en parallèle à ce que nous avons vécu dans notre journée ou ce que nous ferons demain.
</p>
<p>
  L'Hypnose thérapeutique peut se définir comme un mode de fonctionnement psychologique par lequel une personne en relation avec un thérapeute, fait <strong>l’expérience d’un champ de conscience élargi</strong>, d'un état de conscience modifié. Cet état dissociatif induit par le thérapeute est une sorte de « veille paradoxale » où moins nous nous mobilisons et plus nous nous mobilisons.
</p>
<em>
  Selon M. Erickson (1980) « l’hypnose est une relation pleine de vie qui a lieu dans une personne et qui est suscitée par la chaleur d’une autre personne. »
</em>
<br><br>
<p>
  Faire de l’Hypnose avec un thérapeute, c’est reproduire intentionnellement cet état de conscience modifié avec un objectif fixé au préalable dans un cadre thérapeutique singulier. Dans cette disposition, les ressources internes du patient sont mobilisées conduisant tout d'abord à des changements de perception corporelles puis de représentations sur le symptôme / la problématique ainsi que sur les ressentis émotionnels.<br>
  C'est pourquoi l'Hypnothérapie est une <strong>approche psycho-corporelle</strong> reliant le corps à la psyché.
</p>
<p>
  La pratique de l'Hypnose permet de réecrire sa réalité, de jouer avec la perception entre le réel et l'imaginaire, de rentrer au cœur de soi tout en se reliant au monde.
</p>
<br><br>
<p>
  L'Hypnothérapie est <strong>reconnue scientifiquement</strong> malgré sa complexité et les zones d'ombres qu'elle abrite. Elle recouvre d'une part d'un état de conscience modifiée où l'état hypnotique est mis en évidence par les Neurosciences (imagerie cérébrale qui montre les différentes régions du cerveau qui s'activent) et par la Psychologie (théorie de la dissociation psychique) ; et d'autre part d'une relation singulière de confiance mutuelle donnant naissance à une alliance thérapeutique entre patient et thérapeute.
</p>
<p>
  Ainsi cette approche thérapeutique par l'Hypnose répond à de nombreux contextes de soins induisant d'une part une certaine flexibilité dans les processus psychiques et d'autre part réduisant la pression, qu'elle <strong>soit en application thérapeutique ciblée sur un symptôme/problématique soit utilisée comme simple outil de relaxation.</strong>
</p>
<br><br>
<p>
  Je m'intègre davantage dans une approche intégrative cherchant à susciter le changement en encourageant la reprise de confiance permettant d'accroître ses capacités d'autonomie.<br>
  L'intention est thérapeutique, bien éloignée des objectifs l'hypnose de spectacle.
</p>
<p>
  Ma principale influence est François Roustang ainsi qu'entre autres des ouvrages d'Antoine Bioy, de Jean-Marc Benhaiem, Didier Michaux, etc.
</p>
<em>
  « Si l'hypnose est le plus souvent réduite à un phénomène de soumission, de fascination, d'insensibilité c'est que notre culture, qui a peu de moyen pour la penser, en retient seulement le négatif ou l'ombre portée. (…) L'hypnose est un état de veille intense (…) nous fait accéder au pouvoir de configurer le monde. Loin d'être passive, l'hypnose nous permet, par l'imagination, d'anticiper et de transformer nos comportements et nos agissements. Elle sollicite notre capacité à décider de notre place en relation avec les autres et notre environnement (…) elle révèle non pas de la psychologie mais d'une cosmologie. La pratique de l'hypnose, cette veille plus large et plus fine, peut devenir un art de vivre. Elle suppose un apprentissage qui n'a rien d'ésotérique et qui se contente de prendre appui sur les possibilités présentes en chacun.»<br>
  ROUSTANG,F. (1994). Qu’est-ce que l’Hypnose ? Paris : Les éditions de Minuit.
</em>