<p>
  À partir de l'instant où vous éprouvez le besoin de vous faire aider et ce à n'importe quel âge.
</p>

<p>
  <strong>Tout être humain à un moment ou à un autre de sa vie rencontre inévitablement des obstacles de différentes natures pouvant fragiliser ses capacités de gestion et d'adaptation.</strong><br>
  Conserver une bonne santé mentale est une question de recherche d'équilibre constante.
  Rencontrer un psychologue n’est pas un signe systématique de faiblesse ou de maladie mentale.
</p>
<p>
  Lorsque nous sommes submergés par une problématique (physique/psychologique), nous focalisons sur celle-ci. Survient rapidement un engrenage ayant des répercussions sur notre équilibre tout entier, où nous nous réorganisons autour de celle ci. Sous son emprise nous mobilisons toute notre capacité à penser ce qui restreint notre champ de perception, module nos ressentis et éprouvés.<br>
  L'état de souffrance amoindri les défenses en amenuisant toutes les ressources de l'Être, c'est pourquoi il est important que la qualité de vie ne se détériore pas davantage en entreprenant une demande de relation d'accompagnement.
</p>
<p>
  <strong>Reconnaître sa souffrance et demander de l'aide constituent les premières clés ouvrant la porte du changement.</strong>
</p>
<p>
  Une rencontre même ponctuelle, ou un simple entretien peut parfois laisser place à une dynamique de changement.
</p>


<div class="pourquoi-consulter--infos">
  Les problématiques rencontrées peuvent être de différentes natures, telles que :
  <ul>
    <li>des troubles anxieux (phobie, stress, anxiété, angoisse, ...)</li>
    <li>des troubles de l’humeur et affectifs (états dépressifs : sentiments de tristesse/fatigue excessive/dévalorisation et culpabilité… en lien avec la séparation, la perte, le deuil)</li>
    <li>des troubles du sommeil</li>
    <li>des troubles relationnels, identitaires et d'estime de soi</li>
    <li>des troubles des conduites alimentaires</li>
    <li>des troubles psychosomatiques</li>
    <li>des troubles de la personnalité</li>
    <li>des problématiques liées à votre situation personnelle ou professionnelle (aidant familial, harcèlement au travail, situation de crise, changement de vie, questionnements…)</li>
    <li>des problématiques liées à une douleur, un traumatisme, une pathologie, ou à l'avancée en âge…</li>
  </ul>
</div>

<br><br>

<p>
  <strong>Ma profession est réglementée, le titre de psychologue est reconnu et protégé par la loi :</strong>
</p>
<em>
  « L’usage professionnel du titre de psychologue est défini par l’article 44 de la loi n°85-772 du 25 juillet 1985 complété par l’article 57 de la loi n° 2002-303 du 4 mars 2002 qui fait obligation aux psychologues de s’inscrire sur les listes ADELI. »
</em>
<p>
  Mon numéro ADELI (N° 219305539) vous donne la garantie d'un socle de connaissances indispensables à l'exercice de ce métier, ainsi que d'un sérieux d'une pratique approuvée par les instances régissant la profession de psychologue.<br>
  Le titre de psychologue est obtenu à minima après 5 ans d'études post bac, après l'obtention du Master 2.
</p>
<p>
  Mes qualifications ont été vérifiées et ce numéro ADELI atteste de l'authenticité et de l'enregistrement de mes diplômes auprès de l'Agence Régionale de Santé.
</p>
<p>
  Mon numéro de SIRET permettant d'identifier mon activité libérale est le : 803 243 863 00036.
</p>