<p>
  Parfois source d'appréhension, la première consultation est avant tout un <strong>temps dédié à la rencontre</strong>.
</p>
<p>
  C'est un temps que vous prenez pour vous, où vous serez invité à exprimer les raisons qui vous ont conduites à consulter.  J'étayerai votre demande en vous demandant des précisions sur certains éléments du contexte et de votre histoire de vie.<br>
  C'est dans un esprit de co-construction, qu'ensemble nous aborderont les modalités d’un éventuel suivi (durée, fréquence, coût) sollicitant à ce moment les attentes et/ou objectifs du patient.
</p>
<p>
  Cette première étape peut parfois nécessiter plusieurs séances.
</p>
<p>
  Il est important de garder à l'esprit qu'une première consultation n'engage à rien.<br>
  Le patient et le psychologue peuvent décider de ne pas donner suite à ce premier rendez-vous.<br>
  Effectivement par principe de probité, de cohérence et de légitimité si toutefois je n'étais pas en mesure de répondre à votre demande et par conséquent de vous aider, je motiverai ma décision et prendrai soin de vous réorienter vers un autre confrère.
</p>
<p>
  De votre côté, soyez sensible à vos ressentis, écoutez-vous avant de vous engager car la qualité du contact et de notre relation de confiance édifiera la qualité du travail thérapeutique.
</p>
