 <p>
  Je conçois l'accompagnement psychologique, appelée encore la psychothérapie de soutien, comme une rencontre, un travail de lien(s) et de collaboration.<br>
  Il s'agit d'accompagner la personne pendant une période de vie douloureuse, de façon plus ou moins temporaire et ponctuelle, marquée par un moment de transition ou de crise.
</p>
<p>
  L’objectif d’une psychothérapie est la résolution, par le patient lui-même, de ses difficultés, et ce à travers la relation qu’il établit avec le psychologue. Elle vise à amoindrir la souffrance de la personne afin qu'il puisse <strong>surmonter ses difficultés d'un point de vue - émotionnel, familial, professionnel, social et personnel.</strong>
</p>
<p>
  <strong>Mon travail est basé sur la bienveillance, la neutralité, l'écoute active, le non jugement et la co-construction d'une alliance thérapeutique fondée sur la qualité de nos échanges.</strong><br>
  L'alliance thérapeutique entre le patient et le thérapeute est essentielle. Elle se définit comme un lien de collaboration active, englobant un lien d'authenticité, de confiance et confidentialité, et un engagement mutuel sur les buts et accords définis soutenant le changement.
</p>
<p>
  Les situations sont parfois plus complexes qu’elles n’y paraissent, alors prendre le temps parfois peut être nécessaire ; pour tisser progressivement la relation et ainsi pouvoir aborder et élaborer les ressentis dans un climat de confiance.
</p>