html {
  height: 100%;
  box-sizing: border-box;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  height: 100%;
  margin: 0;
  font-family: Lato, 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.625;
  color: #444;
  background-color: #fff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

svg:not(:root) {
  overflow: hidden;
}

img {
  height: auto;
  vertical-align: middle;
  border: 0;
}

blockquote,
figure {
  margin: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  background: transparent;
  transition: all 0.3s ease-in-out;
}

a:active, a:hover, a:focus {
  outline: 0;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?fmlou9");
  src: url("../fonts/icomoon.eot?fmlou9#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?fmlou9") format("truetype"), url("../fonts/icomoon.woff?fmlou9") format("woff"), url("../fonts/icomoon.svg?fmlou9#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e900";
}

.icon-flag:before {
  content: "\e901";
}

.icon-social-vimeo:before {
  content: "\e902";
}

.icon-social-linkedin:before {
  content: "\e903";
}

.icon-news:before {
  content: "\e904";
}

.icon-home-outline:before {
  content: "\e905";
}

.icon-mail:before {
  content: "\e906";
}

.icon-location-arrow-outline:before {
  content: "\e907";
}

.icon-map:before {
  content: "\e908";
}

.icon-directions:before {
  content: "\e909";
}

.icon-phone-outline:before {
  content: "\e90a";
}

.icon-social-vimeo-circular:before {
  content: "\e90b";
}

.icon-social-linkedin-circular:before {
  content: "\e90c";
}

.icon-social-at-circular:before {
  content: "\e90d";
}

* {
  box-sizing: border-box;
}

/**
 ** Mixins for positions
 ** --------------------**/
/**
 ** Mixins for sizes
 ** ----------------**/
/**
 ** Mixins for colors
 ** -----------------**/
/**
 ** Mixins for flex display
 ** -----------------------**/
.page-content {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 60px 30px;
}

@media (max-width: 470px) {
  .page-content {
    padding: 40px 20px;
  }
}

strong {
  color: #612d6b;
  opacity: 0.9;
}

em {
  display: block;
  padding: 10px 15px;
  background-color: rgba(207, 225, 230, 0.4);
  border-radius: 15px;
}

* {
  box-sizing: border-box;
}

/**
 ** Mixins for positions
 ** --------------------**/
/**
 ** Mixins for sizes
 ** ----------------**/
/**
 ** Mixins for colors
 ** -----------------**/
/**
 ** Mixins for flex display
 ** -----------------------**/
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f8faf7;
  box-shadow: 0 2px 2px 0 rgba(207, 225, 230, 0.3);
}

.navigation--logo {
  width: 85px;
  height: 85px;
  margin-right: 40px;
}

@media (max-width: 785px) {
  .navigation--logo {
    margin-right: 20px;
  }
}

@media (max-width: 690px) {
  .navigation--logo {
    display: none;
  }
}

.navigation--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@media (max-width: 690px) {
  .navigation--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.navigation--title {
  margin: 5px 0 0;
  font-size: 24px;
}

@media (max-width: 785px) {
  .navigation--title {
    font-size: 20px;
  }
}

@media (max-width: 690px) {
  .navigation--title {
    margin: 15px 0 0;
    line-height: 1.1;
    text-align: center;
  }
}

@media (max-width: 400px) {
  .navigation--title {
    font-size: 18px;
  }
}

.navigation--title span {
  color: #612D6B;
  font-size: 18px;
  opacity: .6;
}

@media (max-width: 785px) {
  .navigation--title span {
    font-size: 14px;
  }
}

@media (max-width: 690px) {
  .navigation--title span {
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  .navigation--title span {
    font-size: 11px;
  }
}

.navigation--elements {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 690px) {
  .navigation--elements {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .navigation--elements {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
}

.navigation--element {
  margin: 0 10px;
}

@media (max-width: 690px) {
  .navigation--element {
    margin: 10px 8px 5px;
  }
}

@media (max-width: 400px) {
  .navigation--element {
    margin: 10px 6px 5px;
  }
}

.navigation--element:first-of-type {
  margin-left: 0;
}

.navigation--link {
  padding: 5px 0px 12px;
  color: #cfe1e6;
  font-size: 16px;
  font-weight: 700;
  transition: color .3s ease-in-out;
}

.navigation--link:hover, .navigation--link:focus {
  color: #4ca2a9;
}

@media (max-width: 785px) {
  .navigation--link {
    padding: 5px 0px 14px;
    font-size: 14px;
  }
}

@media (max-width: 690px) {
  .navigation--link {
    padding: 5px 0 9px;
  }
}

@media (max-width: 400px) {
  .navigation--link {
    font-size: 13px;
  }
}

@media (max-width: 340px) {
  .navigation--link {
    font-size: 12px;
  }
}

.navigation--link.active {
  color: #4ca2a9;
  border-bottom: 2px solid currentColor;
}

* {
  box-sizing: border-box;
}

/**
 ** Mixins for positions
 ** --------------------**/
/**
 ** Mixins for sizes
 ** ----------------**/
/**
 ** Mixins for colors
 ** -----------------**/
/**
 ** Mixins for flex display
 ** -----------------------**/
.footer {
  padding: 25px 0;
  background-color: #f8faf7;
  box-shadow: 0 -2px 2px 0 rgba(207, 225, 230, 0.3);
}

.footer--wrapper {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

@media (max-width: 850px) {
  .footer--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.footer--identity,
.footer--infos {
  width: 50%;
  padding: 15px;
}

@media (max-width: 850px) {
  .footer--identity,
  .footer--infos {
    width: 100%;
    max-width: 420px;
  }
}

.footer--title {
  font-size: 16px;
  font-weight: 700;
}

@media (max-width: 430px) {
  .footer--title {
    margin-bottom: 10px;
    font-size: 14px;
  }
}

.footer--info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 16px 0;
  color: #444;
}

.footer--info:hover, .footer--info:focus {
  color: #444;
}

@media (max-width: 430px) {
  .footer--info {
    margin: 5px 0;
  }
}

.footer--info i {
  font-size: 22px;
  margin-right: 10px;
}

* {
  box-sizing: border-box;
}

/**
 ** Mixins for positions
 ** --------------------**/
/**
 ** Mixins for sizes
 ** ----------------**/
/**
 ** Mixins for colors
 ** -----------------**/
/**
 ** Mixins for flex display
 ** -----------------------**/
* {
  box-sizing: border-box;
}

/**
 ** Mixins for positions
 ** --------------------**/
/**
 ** Mixins for sizes
 ** ----------------**/
/**
 ** Mixins for colors
 ** -----------------**/
/**
 ** Mixins for flex display
 ** -----------------------**/
.home--content {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 60px 30px;
}

@media (max-width: 470px) {
  .home--content {
    padding: 40px 20px;
  }
}

.home--featured-infos {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

@media (max-width: 700px) {
  .home--featured-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.home--image {
  width: 250px;
  margin-right: 40px;
}

@media (max-width: 860px) {
  .home--image {
    width: 180px;
  }
}

@media (max-width: 700px) {
  .home--image {
    width: 180px;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.home--info {
  margin: 20px 0;
}

@media (max-width: 470px) {
  .home--info {
    font-size: 14px;
  }
}

* {
  box-sizing: border-box;
}

/**
 ** Mixins for positions
 ** --------------------**/
/**
 ** Mixins for sizes
 ** ----------------**/
/**
 ** Mixins for colors
 ** -----------------**/
/**
 ** Mixins for flex display
 ** -----------------------**/
* {
  box-sizing: border-box;
}

/**
 ** Mixins for positions
 ** --------------------**/
/**
 ** Mixins for sizes
 ** ----------------**/
/**
 ** Mixins for colors
 ** -----------------**/
/**
 ** Mixins for flex display
 ** -----------------------**/
.contact--title {
  position: relative;
  padding: 10px;
  font-size: 24px;
  text-align: center;
}

.contact--title:after {
  position: absolute;
  content: '';
  bottom: 0;
  left: calc(50% - 30px);
  width: 60px;
  height: 3px;
  background: #4CA2A9;
}

.contact--map--wrapper {
  text-align: center;
}

.contact--map {
  max-width: 100%;
  border: 0;
}

* {
  box-sizing: border-box;
}

/**
 ** Mixins for positions
 ** --------------------**/
/**
 ** Mixins for sizes
 ** ----------------**/
/**
 ** Mixins for colors
 ** -----------------**/
/**
 ** Mixins for flex display
 ** -----------------------**/
* {
  box-sizing: border-box;
}

/**
 ** Mixins for positions
 ** --------------------**/
/**
 ** Mixins for sizes
 ** ----------------**/
/**
 ** Mixins for colors
 ** -----------------**/
/**
 ** Mixins for flex display
 ** -----------------------**/
.presentation--tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.presentation--tab {
  padding: 15px 20px;
  color: #cfe1e6;
  cursor: pointer;
  border-bottom: 2px solid currentColor;
  transition: all .3s ease-in-out;
}

.presentation--tab:hover, .presentation--tab:focus {
  color: #4ca2a9;
}

.presentation--tab.active {
  color: #4ca2a9;
  font-weight: 700;
}

.presentation--tab-content {
  display: none;
}

.presentation--tab-content.active {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.presentation--tab-content.active[target-content="approche"] {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.presentation--experience--infos,
.presentation--experience--diplomes,
.presentation--experience--lieux,
.presentation--experience--lieux-infos {
  width: 50%;
  margin: 20px 0;
  padding: 20px;
}

@media (max-width: 800px) {
  .presentation--experience--infos,
  .presentation--experience--diplomes,
  .presentation--experience--lieux,
  .presentation--experience--lieux-infos {
    width: 100%;
  }
}

.presentation--experience--diplomes,
.presentation--experience--lieux {
  background-color: #f8faf7;
  border-radius: 15px;
}

@media (max-width: 800px) {
  .presentation--experience--diplomes,
  .presentation--experience--lieux {
    order: 1;
  }
}

@media (max-width: 800px) {
  .presentation--experience--infos {
    order: 2;
  }
}

@media (max-width: 800px) {
  .presentation--experience--lieux {
    order: 3;
  }
}

@media (max-width: 800px) {
  .presentation--experience--lieux-infos {
    order: 4;
  }
}

.authors {
  font-size: 14px;
  font-style: italic;
}

* {
  box-sizing: border-box;
}

/**
 ** Mixins for positions
 ** --------------------**/
/**
 ** Mixins for sizes
 ** ----------------**/
/**
 ** Mixins for colors
 ** -----------------**/
/**
 ** Mixins for flex display
 ** -----------------------**/
* {
  box-sizing: border-box;
}

/**
 ** Mixins for positions
 ** --------------------**/
/**
 ** Mixins for sizes
 ** ----------------**/
/**
 ** Mixins for colors
 ** -----------------**/
/**
 ** Mixins for flex display
 ** -----------------------**/
.ma-pratique--tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.ma-pratique--tab {
  padding: 15px 20px;
  color: #cfe1e6;
  cursor: pointer;
  border-bottom: 2px solid currentColor;
  transition: all .3s ease-in-out;
}

.ma-pratique--tab:hover, .ma-pratique--tab:focus {
  color: #4ca2a9;
}

.ma-pratique--tab.active {
  color: #4ca2a9;
  font-weight: 700;
}

.ma-pratique--tab-content {
  display: none;
}

.ma-pratique--tab-content.active {
  display: block;
}

.pourquoi-consulter--infos {
  width: 100%;
  max-width: 570px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  background-color: #f8faf7;
  border-radius: 15px;
}

* {
  box-sizing: border-box;
}

/**
 ** Mixins for positions
 ** --------------------**/
/**
 ** Mixins for sizes
 ** ----------------**/
/**
 ** Mixins for colors
 ** -----------------**/
/**
 ** Mixins for flex display
 ** -----------------------**/
* {
  box-sizing: border-box;
}

/**
 ** Mixins for positions
 ** --------------------**/
/**
 ** Mixins for sizes
 ** ----------------**/
/**
 ** Mixins for colors
 ** -----------------**/
/**
 ** Mixins for flex display
 ** -----------------------**/
.deroulement-seances--tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.deroulement-seances--tab {
  padding: 15px 20px;
  color: #cfe1e6;
  cursor: pointer;
  border-bottom: 2px solid currentColor;
  transition: all .3s ease-in-out;
}

.deroulement-seances--tab:hover, .deroulement-seances--tab:focus {
  color: #4ca2a9;
}

.deroulement-seances--tab.active {
  color: #4ca2a9;
  font-weight: 700;
}

.deroulement-seances--tab-content {
  display: none;
}

.deroulement-seances--tab-content.active {
  display: block;
}
